name: "bun install"
description: "Run bun install with cache enabled"
runs:
  using: "composite"
  steps:
    - name: Set up swap space
      if: runner.os == 'Linux'
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 10

    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Expose bun config(s) through "$GITHUB_OUTPUT"
      id: bun-config
      shell: bash
      run: |
        echo "STORE_PATH=~/.bun/install/cache" >> $GITHUB_OUTPUT

    - name: Cache rotation keys
      id: cache-rotation
      shell: bash
      run: |
        echo "YEAR_MONTH=$(/bin/date -u "+%Y%m")" >> $GITHUB_OUTPUT

    - uses: actions/cache@v5
      name: Setup bun cache
      with:
        path: ${{ steps.bun-config.outputs.STORE_PATH }}
        key: ${{ runner.os }}-bun-store-cache-${{ steps.cache-rotation.outputs.YEAR_MONTH }}-${{ hashFiles('**/bun.lock') }}
        restore-keys: |
          ${{ runner.os }}-bun-store-cache-${{ steps.cache-rotation.outputs.YEAR_MONTH }}-

    # - name: Install dependencies
    #   shell: bash
    #   run: |
    #     bun install --frozen-lockfile
    #   env:
    #     HUSKY: "0"
