/* stylelint-disable order/properties-order */
/* instrument-serif-latin-400-normal */
@font-face {
  font-family: "Instrument Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/instrument-serif/files/instrument-serif-latin-400-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* openrunde-regular-latin-400-normal */
@font-face {
  font-family: "OpenRunde";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/fonts/OpenRunde-Regular.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* openrunde-bold-latin-700-normal */
@font-face {
  font-family: "OpenRunde";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../assets/fonts/OpenRunde-Bold.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* openrunde-medium-latin-500-normal */
@font-face {
  font-family: "OpenRunde";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../../assets/fonts/OpenRunde-Medium.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* openrunde-semibold-latin-600-normal */
@font-face {
  font-family: "OpenRunde";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../../assets/fonts/OpenRunde-Semibold.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* iosevka-etoile-latin-400-normal */
@font-face {
  font-family: "Iosevka Etoile";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/iosevka-etoile/files/iosevka-etoile-latin-400-normal.woff")
    format("woff");
}

/* iosevka-etoile-latin-500-normal */
@font-face {
  font-family: "Iosevka Etoile";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("@fontsource/iosevka-etoile/files/iosevka-etoile-latin-500-normal.woff")
    format("woff");
}

/* iosevka-etoile-latin-600-normal */
@font-face {
  font-family: "Iosevka Etoile";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/iosevka-etoile/files/iosevka-etoile-latin-600-normal.woff")
    format("woff");
}

/* iosevka-etoile-latin-700-normal */
@font-face {
  font-family: "Iosevka Etoile";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/iosevka-etoile/files/iosevka-etoile-latin-700-normal.woff")
    format("woff");
}

/* iosevka-etoile-latin-800-normal */
@font-face {
  font-family: "Iosevka Etoile";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("@fontsource/iosevka-etoile/files/iosevka-etoile-latin-800-normal.woff")
    format("woff");
}

:root {
  --font-sans: "OpenRunde", sans-serif;
  --font-mono: "Iosevka Etoile", monospace;
  --font-title: "Instrument Serif", serif;
}
