@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #9fb0c1;
    --bg-secondary: #8d9398;
    --bg-tertiary: #80848b;
    --accent: #2cef9e;
    --text-primary: #131518;
    --text-secondary: #161b21;
    --text-tertiary: #273444;
  }

  .dark {
    --bg-primary: #141517;
    --bg-secondary: #1c1d1f;
    --bg-tertiary: #273444;
    --accent: #2cef9e;
    --text-primary: #9da5b6;
    --text-secondary: #dfe2ea;
    --text-tertiary: #ffffff;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    Liberation Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
}

button[type="button"]:focus {
  outline: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mask-gradient-right {
  mask-image: linear-gradient(
    to right,
    var(--bg-primary) 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    var(--bg-primary) 90%,
    transparent 100%
  );
}

#draggable {
  user-select: none;
  -webkit-app-region: drag;
  overflow: hidden;
}
